@model Harvestly.Models.User
@{
    ViewBag.Title = "Create Farmer Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="product-card" style="margin-top: 30px;">
                <div class="card-body">
                    <h2><i class="fas fa-user-plus"></i> Create Farmer Account</h2>
                    <p class="text-muted">Create a new farmer account to manage products</p>
                    <hr />

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-circle"></i> @TempData["ErrorMessage"]
                        </div>
                    }

                    @using (Html.BeginForm("CreateFarmer", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter username" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password (min 6 characters)" required />
                            @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors != null && ViewData.ModelState["Password"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["Password"].Errors[0].ErrorMessage</span>
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter full name" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Enter email address" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-save"></i> Create Farmer Account
                            </button>
                            @Html.ActionLink("Cancel", "ManageFarmers", "Account", null, new { @class = "btn btn-default btn-lg" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
